*{
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
    border: solid 1px navy;

}
a{
    text-decoration: none;
}
p{
    color: orangered;
}
.relleno{
    color: olive;
}
.mayusculas{
    text-transform: uppercase;
}
#especial{
    text-transform: capitalize;
}